/* Dolling House Theme Styles */

/* Basic Styles */
/*--------------*/
a:link    { color: #004073; }
a:visited { color: #57707f; }
a:hover   { color: coral; }

blockquote {
  background-image: url("images/bq-1.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  font-style: italic;
  margin-left: 2em;
  padding-left: 1.4em;
}

blockquote .bq-end {
  background-image: url("images/bq-2.png");
  background-position: 100% 100%;
  background-repeat: no-repeat;
  padding-right: 1.25em;
}
.sidebar blockquote { margin: 10px 5px; }

caption {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: .5em;
  padding-bottom: .25em;
  text-align: left;
}

dd      { margin-top: .5em; }
dd > p  { margin-top: 0; }
dt      { margin-top: 1em; }

h1 { font-size: 1.8em; }
h1.title {
  color: coral;
  margin-bottom: .25em;
}
h1, h2 { font-family: Georgia, serif; }
h2 { color: #004073; font-size: 1.3em; }
h3, h5, h6 { color: #454545; }
h2.block-title {
  color: #004073;
  font-variant: small-caps;
  margin-bottom: .25em;
}
a h2.title {
  color: inherit;
  text-decoration: underline;
}
h3 { font-size: 1.2em; }
h6 { font-size: 1em; font-style: italic; }

hr { border-bottom: 1px ridge coral; }

legend {
  font-family: Georgia, serif;
  font-size: 1.2em;
}

#content-area li + li, .messages li + li { margin-top: 10px; }
#content-area .inline li + li { margin-top: 0; }

p { max-width: 60em; }

td, th    { padding: 1px 4px; }
th        { border-bottom: 1px solid black; }
thead th  { padding-right: 1em; }

tr.even   { background-color: #fffdfd; }
tr.odd    { background-color: #fffcfa; }

table caption {
  color: #004073;
  font-family: Georgia, serif;
}

/* General utility classes */
.float-left     { float: left; }
img.float-left  { margin-right: 1em; }

.float-right    { float: right; }
img.float-right { margin-left: 1em; }

.center   { text-align: center; }
.centered { margin-left: auto; margin-right: auto; }

.element-invisible { margin: 0; padding: 0; }

/* Forms in general, indluding search in header */
/*----------------------------------------------*/
.form-required, .new { color: coral; }
#user-login .form-required, #user-login .description, 
#user-register .form-required, #user-pass .form-required, #user-login-form .form-required {
  display: none;
}

/* Buttons */
.form-submit, .add-tag {
  background-color: #555;
  border-color: coral;
  border-style: solid;
  border-width: 0 0 4px 0;
  color: white;
  cursor: pointer;
  font-weight: bold;
  margin: 14px 5px;
}

.form-submit:enabled, .add-tag {
  background-image: url(images/sidehead-bg.png);
}
a.form-submit {
  color: white;
  font-size: .77em;
  padding: 1px 6px;
  text-decoration: none;
}

a.button {
  background-color: coral;
  border: 1px solid #555;
  border-radius: 12px;
  line-height: 1;
  padding: 5px 5px 7px 5px;
  text-align: center;
  text-decoration: none;
}

/* This is the help text under a form item */
form .description {
  font-size: .85em;
  max-width: 60em;
  padding-left: 2em;
}

.form-item, .form-checkboxes, .form-radios {
  margin: 1em 0;
}
.form-item .form-item { margin: 14px 0 0 0; }
form fieldset { margin: 1.5em 0; }

.form-item label { margin-bottom: 5px; }

/* Header */
/*--------*/
#header {
  background: seashell url(images/header-bg.png) top left repeat;
  min-height: 110px;
  position: relative;
}

#logo {
  float: none;
  position: absolute;
  z-index: 1;
}

#name-and-slogan {
  left: 300px;
  position: absolute;
  top: 30px;
}

#site-slogan {
  color: #004073;
  font-family: Georgia, serif;
  font-size: 24px;
  font-style: italic;
  text-shadow: #666 2px 2px 3px;
}

.region-header { clear: none; }
#header .block { float: right; }
.region-header .block-block { clear: right; margin-right: 8px; }


/* Everything between the header and the footer
/*---------------------------------------------*/
#main {
  background-color: #fffdfd;
  padding-bottom: 10px;
}

/* Top Navigation with the Main Menu */
/*-----------------------------------*/
#navigation {
  background: #555 url(images/navigation-bg.png) left top repeat-x;
  border-bottom: 5px solid coral;
  font-family: Georgia, serif;
  height: 60px;
  position: relative;
}
.with-navigation #content,
.with-navigation .region-sidebar-first,
.with-navigation .region-sidebar-second {
  margin-top: 70px; /* Set this to the same value as the navigation height above + border. */
}

#block-system-main-menu { margin-bottom: 0; }

#navigation ul.menu {
  margin: 0;
  text-align: center;
}

#navigation ul.menu li {
  display: inline-block;
  float: none;
  margin: 0;
  padding: 0;
}

#navigation ul.menu li a {
  display: block;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: .5px;
  padding: 5px 20px;
  text-decoration: none;
}
#navigation ul.menu a:link, #navigation ul.menu a:visited {
  color: coral;
}

/* second level menu */
#navigation li ul.menu {
  background: #272727 url(images/sidehead-bg.png) left top repeat;
  display: none;
  left: 0;
  position: absolute;
  top: 30px;
  width: 100%;
}

/* Make the second level menu show up when it's active or when the cursor hovers over its parent item */
#navigation li:hover ul.menu, #navigation li.active ul.menu, #navigation li.active-trail ul.menu {
  display: inline-block;
}
#navigation li:hover ul.menu {
  z-index: 999;
}

/* Never show anything three levels or deeper */
#navigation ul.menu ul.menu ul.menu {
  display: none !important;
}

/* Make the active item text and the parent item's text be a different color */
#navigation ul.menu a.active:link, 
#navigation ul.menu a.active:visited,
#navigation ul.menu li.active-trail a:link, 
#navigation ul.menu li.active-trail a:visited,
#navigation ul.menu li.active-trail li.active-trail a:link, 
#navigation ul.menu li.active-trail li.active-trail a:visited {
  color: white;
}

/* Always change the color on hover */
#navigation ul.menu a:hover {
  color: white !important;
}

/* But make second-level menu items be the inactive color */
#navigation ul.menu li.active-trail li a:link, #navigation ul.menu li.active-trail li a:visited {
  color: coral;
}

/* Make the parent item on the first level, the second-level active menu and items that you hover over have a patterned background */
#navigation ul.menu a:hover, #navigation ul.menu li.active-trail a {
  background: #272727 url(images/sidehead-bg.png) left top repeat;
}

/* Use a plain background to highlight hover items and the active item on the second level menu */
#navigation ul.menu li li a:hover, #navigation ul.menu li li a.active {
  background-image: none;
}

/* Sidebars */
/*----------*/
.sidebar .block {
  background-color: #fff5ee;
  margin-bottom: 0;
  padding-bottom: 1em;
}
 
.sidebar h2.block-title, .region-content-bottom h2.block-title {
  background: #666 url(images/sidehead-bg.png) top left repeat-x scroll;
  color: white;
  font-size: 16px;
  letter-spacing: .5px;
  padding: 5px 10px;
  text-align: center;
}
.sidebar h2.block-title a { text-decoration: none; }
.sidebar h2.block-title a:link, .sidebar h2.block-title a:visited,
.region-content-bottom h2.block-title a:link, .region-content-bottom h2.block-title a:visited { color: white; }
.sidebar .block-menu_block h2.block-title { color: coral; }

.sidebar h3 {
  font-size: 14px;
  margin: 1em .5em .5em;
}

.sidebar .block ul, .sidebar .block p, .sidebar .block form, .sidebar .block .poll {
  margin: 5px;
}
.sidebar .block ul  { padding: 0 0 0 1em; }
.sidebar .more-link { margin-right: 5px; }
.sidebar .views-field-title {
  color: #004073;
  font-family: Georgia, serif;
  font-size: 1.1em;
  font-variant: small-caps;
}

.sidebar .author-pane-inner { padding: 10px; }
#block-user-3 .content { padding: 10px; }

/* Sidebar menu */
.sidebar ul.menu a { text-decoration: none; }
.sidebar ul.menu a:hover { text-decoration: underline; }
.sidebar ul.menu a.active, .sidebar ul.menu a.active-trail {
  color: white;
  font-weight: bold;
  text-shadow: 0.1em 0.1em 0.2em black;
}

/* User login block */
#block-user-login .form-actions { margin-bottom: 0; }
#block-user-login .form-actions .form-submit { margin-top: 0; }
#block-user-login .form-actions a { font-size: .8em; }
#block-user-login a.button { margin-bottom: .5em; }
#block-user-login #create-new-account {
  background-position-y: bottom;
  color: #fff;
  display: block;
  font-size: 1em;
  margin: 0 auto 1em;
}    
#block-user-login a#create-new-account:hover {
  text-decoration: underline;
}

/* Content column in center */
/*--------------------------*/
.no-sidebars #content .section    { padding: 0 20px; }
.sidebar-second #content .section { padding: 0 200px 0 20px; }
.sidebar-first #content .section  { padding: 0 20px 0 200px; }

/* The Highlighted content region is at very top of page, above the breadcrumb */
/* We put the home page welcome message and section help in this region. */
div.region-highlighted {
  background-color: white;
  border: 1px dashed #ccc;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  margin: 0 auto 10px;
  max-width: 60em;
  padding: 0 20px 5px;
}

.region-highlighted h2.block-title {
  font-size: 1.2em;
  text-align: center;
}

/* Background of these headings is dark, so need light images for opened/closed state */
div.sidebar .collapsiblockCollapsed a {
  background: url("images/collapsed-light.png") no-repeat scroll right center transparent;
}
div.sidebar .collapsiblock a {
  background: url("images/expanded-light.png") no-repeat scroll right center transparent;
}

/* Author pane blocks */
.author-pane .picture img {
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
}
/* Don't need the picture on the view profile page because it's in the sidebar */
.page-user .user-picture { display: none; }

/* Breadcrumb */
.breadcrumb { margin-bottom: 15px; }
.front .breadcrumb, .section-node-edit .breadcrumb { display: none; }

/* Messages */
div.messages {
  background-position: 20px 3px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  clear: both;
  margin: 0 auto 1em;
  max-width: 60em;
  padding: 12px 10px 10px 50px;
}

div.status, div.warning { background-color: #fffcfa;}
div.status { border: 2px solid coral; }

/* Tabs */
div.tabs {
  font-family: Georgia, serif;
  margin-bottom: 0;
}
ul.secondary {
  background: white;
  border-bottom: 4px double #bbb;
  border-left: 1px solid #bbb;
  border-right: 1px solid #bbb;
}
ul.secondary a.active { font-weight: bold; }

/* Help */
#content .region-help {
  font-size: .85em;
  margin: 0;
}

/* Put a border around the main content area pages with tabs */
.with-tabs #content .region-help, .with-tabs .region-content,
.with-tabs .region-content-top, .with-tabs .region-content-bottom {
  background-color: white;
  border-left: 1px solid #bbb;
  border-right: 1px solid #bbb;
  padding: 10px;
}
.with-tabs #content-very-bottom { border-bottom: 1px solid #bbb; }

/* Content top region */
.region-content-top ul, .region-content-top .block { margin: 0; }

/* Nodes display. Also format Dolling Planet (aggregator) items like they are nodes */
.node-teaser, #aggregator .feed-item {
  border-bottom: 2px ridge coral;
  margin-bottom: 1.5em;
  padding-bottom: 2em;
}
#aggregator .feed-item { padding-bottom: 1em; }

.front .node-sticky {
  background-color: #fff5ee;
  border: 6px ridge coral;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  padding: 10px;
}

/* Meta information */
.region-content .submitted, #aggregator .feed-item-meta,
.view-flag-bookmarks .views-field-type, .node-type {
  color: #004073;
  font-size: 12px;
  line-height: 1;
  margin: .5em 0;
}
/* These aren't Wiki content types, so only the author should be editing them */
.front .last-edited-by,
.node-type-story .last-edited-by,
.node-type-article .last-edited-by,
.node-type-project .last-edited by { display: none; }

/* Terms */
.meta .terms { display: none; }
.terms-inline { display: block; }
.terms-inline ul.links li { padding-left: 0; }

/* Links */
#content-area ul.links li {
  font-size: .85em;
  padding-left: 0;
}
#content-area ul.links li.comment_add { font-weight: bold; }
#content-area .top-links {
  border: 1px solid #bbb;
  float: right;
  padding: 5px;
}
#content-area .links-box h3 {
  float: left;
  font-size: 12px;
  margin: 0 5px 0 0;
}
#content-area .top-links ul.link li { margin: 0; }

.page-comment-reply .breadcrumb {
  display: none;
}

/* The user profile page */
.profile dl { margin: 0; }
dt.flag-profile-abuse_user { display: none; }

/* Statistics tables on the top-level section pages */
table.statistics th, table.statistics td { padding: 5px; }
table.statistics th { font-family: Georgia, serif; }
table.statistics td { border: 1px solid #ccc; }

/* Node edit forms */
.section-node-edit fieldset.group-categories .form-item {
  float: left;
  height: 150px;
  margin-right: 5%;
  width: 45%;
}

/* Content area form fields */
#content-area .field { margin-bottom: 1em; }

#content-area .field img {
  margin-bottom: .5em;
  margin-top: .5em;
}

.hierarchical-select-wrapper .dropbox table {
  color: #333;
  margin-left: 16px;
}

/* Multiple valued fields */
.content-multiple-table { margin: 1em 0 0 0; }
.content-multiple-table thead th, .content-multiple-table th { padding-bottom: .5em; }
.content-add-more { margin: 1em 0 0 0; }

/* Any field called "Description" */
.field-field-description { clear: left; }
.field-field-description .field-label {
  font-family: Georgia, serif;
  font-size: 1.3em;
  font-variant: small-caps;
}

/* Companies, Brands */

.content .group-branding, .content .group-pictures {
  float: left;
  margin-right: 10px;
  width: 200px;
}

.content .group-branding, .content .group-pictures, .content .group-details {
  border: 1px solid silver;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

.content .group-branding, .content .group-details, .content .group-pictures {
  margin-top: 0;
}

.node-type-company #content-area .field-field-street,
.node-type-company #content-area .field-field-location {
  margin-bottom: 0;
}

.node-type-company .field-field-location .field-label-inline-first,
.node-type-company .field-field-postal-code .field-label-inline-first {
  text-indent: -5000px
}

.field-field-logo .field-item,
.field-field-pictures .field-item,
.field-field-group-picture .field-item {
  text-align: center;
}

.field-field-synonyms .field-label-inline, .field-field-synonyms .field-label-inline-first,
.field-field-doll-types .field-label-inline, .field-field-doll-types .field-label-inline-first {
  width: 125px;
}

.larger-view { font-size: 10px; }

/* Set the width of labels so the field values line up nicely */
.field .field-label-inline, .field .field-label-inline-first {
  display: inline-block;
  width: 180px;
}
fieldset fieldset .field .field-label-inline, fieldset fieldset .field .field-label-inline-first {
  width: 170px;
}
fieldset fieldset fieldset .field .field-label-inline, fieldset fieldset fieldset .field .field-label-inline-first {
  width: 164px;
}


/* The years, from-to fields
 * don't take this away until we fix all existing content created before there was a default
#edit-field-years-0-unit-wrapper { display: none; } */

/* Products */
.field-item .hierarchical-select-lineages { display: inline-block; padding-left: 0;}
.hierarchical-select-lineages li { list-style: none; }

.views-field-field-pictures-fid { text-align: center; }

/* ratings */
.fivestar-widget-static { height: 15px; }
.fivestar-static-form-item { margin-bottom: 1em; }
.fivestar-static-form-item .average-rating { margin-left: 1em; }
.fivestar-static-form-item label { float: left; width: 185px; }
.fivestar-static-form-item .fivestar-widget-static { display: inline; }

/* Books */
div.field-type-asin {
  border-top: none;
  overflow: auto;
}

div.amazon-item div {
  height: auto;
  margin: 0 0 .5em 0;
  padding-left: 0;
}

div.amazon-image { float: left; }
.amazon-label {
  display: inline-block;
  font-weight: bold;
  width: 125px;
}
.views-field-product-image { text-align: center; }

/* For sale listings */
.contact-seller a {
  background-color: seashell;
  border: 1px dashed coral;
  display: inline-block;
  font-size: 18px;
  margin: 1em 0;
  padding: 10px;
}

/* don't show the meta information or links in the teaser of the item this for sale listing is for 
   when it's displayed in the for sale listing */
.node-type-listing .field-field-item .meta, .node-type-listing .field-field-item ul.links {
  display: none;
}

/* Poll content */
.poll .title {
  margin: 1em 0;
  font-weight: bold;
}

/* Forum content */
#forum table { border-left: 0; border-right: 0; }

/* The links at the top of the main Forums page, like Mark all forums read */
.forum-top-links { margin: 0; }

#forum th { border-bottom: 1px solid #555; padding: 5px 1em 5px 0; }
#forum th.forum-name { padding-left: 0; }

div.forum-post {
  margin: 0;
  border: 1px solid #ccc;
}
/* this is the div witht the Post reply link in it */
.forum-topic-header { margin-bottom: 10px; }

.forum-post-panel-main { border-left: 1px solid #ccc; min-height: 0; }

#forum-comments, .forum-links .topic_reply, .reply-count { margin-top: 10px; }
.forum-links { font-size: .85em; }
.node-type-forum #forum-comments, .node-type-poll #forum-comments { margin-top: 0; }

/* This is at the top of each comment that has the date/time the comment was posted */
.forum-post-info {
  border-bottom: 1px solid #ccc;
  margin-bottom: 0;
  padding: 3px 0;
}
.forum-posted-on { font-weight: bold; }

/* These are the links at the bottom of comments */
.forum-post-links ul.links { margin: 0; }

.post-title { font-family: Georgia, serif; font-size: 1.1em; }

.forum-post-panel-main { border-left: 1px solid #ccc; }

/* Shade the author panel so we can identify comments by the author and by the current user */
.post-by-viewer .forum-post-wrapper { background-color: #fffdfd; }
.post-by-starter .forum-post-wrapper { background-color: #fff5ee; }
.post-by-viewer .forum-post-panel-main, .post-by-starter .forum-post-panel-main {
  background-color: white;
}

.forum-post-footer { border-top: 1px solid #ccc; }

.author-signature { color: #777; }

/* FAQs */
.faq-qa .expanded {
  background-color: #fffdfd;
  border-bottom: 2px dotted coral;
}

/* Index/Glossary */
.taxonomy-vtn-navigation { margin-top: 10px;  }
.taxonomy-vtn-vocabularies td div ul, .taxonomy-vtn-terms td div ul, .taxonomy-vtn-nodes td div ul {
  padding: 0 0 30px 2em;
}
.taxonomy-vtn-vocabularies td div li {
  margin: 0 0 .25em 1.5em;
}

/* Quick tabs at bottom of nodes */
ul.quicktabs_tabs.quicktabs-style-zen {
  margin-bottom: 0;
}
ul.quicktabs_tabs.quicktabs-style-zen li a {
  font: bold 12px/170% Georgia;
}
ul.quicktabs_tabs.quicktabs-style-zen li.active a { color: #004073; }
.quicktabs_main.quicktabs-style-zen {
  border-bottom: 1px solid #bbb;
  border-left: 1px solid #bbb;
  border-right: 1px solid #bbb;
  padding: 1em;
}

/* Views */
ul.action-links li { list-style: none; }
ul.action-links a, li.comment-add a {
  background: url("images/add.png") no-repeat scroll 0 center transparent;
  padding-left: 15px;
}

.view-content table { margin-left: -10px; }

.view-content thead th {
  text-align: center;
  border-bottom: 3px solid #CCCCCC;
  border-top: 1px dotted coral;
  padding-bottom: 5px;
  padding-top: 5px;
}

.view-filters form { padding-top: 0; }
.views-exposed-widget .views-widget { margin-top: 5px; }
.views-exposed-form .views-exposed-widget .form-submit { margin-top: 2em; }
/* Grid view */
.views-view-grid {
  border-collapse: separate;
  border-spacing: .5em;
  clear: left;
}
.view-companies-index .views-view-grid { margin: 0; }

.views-view-grid td {
  text-align: center;
  vertical-align: bottom;
}

/* This is the message you get when there's nothing to show */
.view-empty { max-width: 60em; }

/* List view, like in Brands block on Company page */
.item-list ul li + li { margin-top: 1em; }
.view-brands-for-company .item-list ul, .view-brands-for-company .item-list li {
  list-style: none;
  padding: 0;
}
.view-brands-for-company .item-list li.views-row {
  margin-bottom: 1.5em;
  text-align: center;
}

/* The hover links you get in a view */
div.view div.views-admin-links { margin-left: 100px; } /* don't obscure stuff under */

/* Pager at bottom of lists */
.item-list .pager li { padding: 0.33em; }
.pager-current, ul.pager li:hover {
  background-color: coral;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  color: white;
}
ul.pager li:hover a:active, ul.pager li:hover a:visited {
  color: white;
  text-decoration: none;
}

/* Don't need the node type in teaser lists where they're all of the same type */
.view-stories-by-category .meta .node-type,
.view-companies .meta .node-type,
.view-brands-index .meta .node-type,
.view-products .meta .node-type
{ display: none; }

/* CKEditor */
span.cke_skin_kama { margin-left: -5px; } /* pull the editor over to the left a bit */

/* Content bottom region */
/* We use this to hold blocks such as on the News page that we want to stack horizontally */
.region-content-bottom { overflow: auto; }

/* Footer */
/*--------*/
.region-footer {
  background: #666 url(images/sidehead-bg.png) top left repeat-x scroll;
  border-top: 5px solid coral;
  font-family: Georgia, serif;
}

.region-bottom {
  border-top: 5px solid #272727;
  background-color: white;
  clear: left;
  color: #3e4545;
  font-family: Georgia, serif;
  font-size: 0.875em;
  line-height: 1.286em;
  text-align: center;
}

.region-footer .block, .region-bottom { margin: 0; }

.region-footer ul.menu, .region-bottom ul.menu {
  margin: 0;
  padding: 0;
  text-align: center;
}

.region-footer ul.menu li, .region-bottom ul.menu li {
  display: inline-block;
  list-style: none;
  padding: 8px 15px 4px;
}

.region-footer ul.menu a, .region-bottom ul.menu a {
  display: block;
  text-decoration: none;
}

.region-footer ul.menu a:hover, .region-bottom ul.menu a:hover          { text-decoration: underline; }
.region-footer ul.menu a:link, .region-footer ul.menu a:visited         { color: white; }
.region-footer ul.menu li a.active, .region-bottom ul.menu li a.active  { color: coral; }

#copyright {
  margin-top: 10px;
}